%header#navlink
  .container
    .navbar-header
      %a.navbar-brand.hidden-sm{:href => "../"}
        %span.glyphicon.glyphicon-home
        HOME
      %div.navbar-toggle.collapsed
        %a{"ng-show" => "creating != true", "ng-click" => "creating = true"}
          Create new keyword
          %span.glyphicon.glyphicon-triangle-right
        %a{"ng-show" => "creating == true", "ng-click" => "creating = false"}
          Back to edit page
          %span.glyphicon.glyphicon-triangle-left
    %nav.navbar-collapse.collapse
      %ul.navbar-nav.navbar-right.hidden-sm
        %li{"ng-show" => "creating != true"}
          %a{"ng-click" => "creating = true"}
            Create new keyword
            %span.glyphicon.glyphicon-triangle-right
        %li{"ng-show" => "creating == true"}
          %a{"ng-click" => "creating = false"}
            Back to edit page
            %span.glyphicon.glyphicon-triangle-left
%header#top.navbar.navbar-static-top.bs-docs-nav.sfbgg{:role => "banner"}
  .container
    .row{"ng-show" => "creating != true"}
      .col-sm-12
        %label.full-width {{titleForEdit}}:
      .col-sm-12
        %ui-select.full-width{"ng-disabled" => "disabled", "ng-model" => "keyword.selected", "reset-search-input" => "false", :theme => "bootstrap"}
          %ui-select-match{:placeholder => "{{selectPlaceHolder}}..."} {{$select.selected.name}}
          %ui-select-choices{:repeat => "keyword in keywordNames | filter:$select.search"}
            {{keyword.name}}
    .row{"ng-show" => "creating == true"}
      .col-sm-12
        %label.full-width {{titleForCreate}}:
      .col-sm-12
        .input-group
          %input.form-control{"ng-model" => "newKeyword", :placeholder => "Input new keyword", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-danger{"ng-click" => "addNewKeyword()", :type => "button"} Create
.container{"ng-show" => "loading"}
  .center-block
    %button.btn.btn-default
      %span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
      {{loadingContent}}
.container{"ng-show" => "creating != true && keyword.selected.name"}
  .bs-callout
    %h4
      {{currentContent.name}}
    .row
      .col-sm-8
        .panel.panel-info
          .panel-heading
            %h3.panel-title Commands
          .panel-body
            .input-group
              %input.form-control{"ng-model" => "newCommand", :placeholder => "Input new command", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-danger{"ng-click" => "addNewCommand()", :type => "button"} Add
            %br/
            .input-group.full-width
              %textarea.full-width{"ng-model" => "newCommandNote", :placeholder => "Leave some note for your command..."}
            %br/
            .row
              %ul
                %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "command in currentContent.commands"}
                  %span {{command.name}}
                  %div{"ng-if" => "myClass=='selected'"}
                    %button.btn.btn-info.btn-xs.right.copy{"clip-copy" => "command.name", :popover => "Copied!", "popover-placement" => "top"} copy
                    %button.btn.btn-danger.btn-xs.right.edit{"ng-click" => "openEditor(command)", :type => "button"} edit
                    %p.desc
                      %code {{command.note}}
      .col-sm-4
        .panel.panel-success
          .panel-heading
            %h3.panel-title Configuration file
          .panel-body
            .input-group
              %input.form-control{"ng-model" => "newFile", :placeholder => "Input new file", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-danger{"ng-click" => "addNewFile()", :type => "button"} Add
            %br/
            .input-group.full-width
              %textarea.full-width{"ng-model" => "newFileNote", :placeholder => "Leave some note for your file..."}
            %br/
            .row
              %ul
                %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "file in currentContent.files"}
                  %span {{file.name}}
                  %div{"ng-if" => "myClass=='selected'"}
                    %button.btn.btn-success.btn-xs.right.copy{"clip-copy" => "file.name", :popover => "Copied!", "popover-placement" => "top"} copy
                    %button.btn.btn-danger.btn-xs.right.edit{"ng-click" => "openEditor(file)", :type => "button"} edit                    
                    %p.desc
                      %code {{file.note}}
                  %div
                    %script{:id => "myModalContent.html", :type => "text/ng-template"}
                      .modal-header
                        %h3.modal-title Edit {{item.rtype === 0 ? "command": "file"}}
                      .modal-body
                        %form.row
                          .form-group
                            %label.col-xs-10.col-xs-offset-1 {{item.rtype === 0 ? "Command": "File"}} Name:
                            %input.col-xs-10.col-xs-offset-1{"ng-disable"=>"true", "ng-model" => "item.name"}
                          .form-group
                            %label.col-xs-10.col-xs-offset-1 {{item.rtype === 0 ? "Command": "File"}} Comment:
                            %textarea.col-xs-10.col-xs-offset-1{"ng-model" => "item.note", "rows"=>"4", "cols"=>"50"}
                      .modal-footer
                        %button.btn.btn-primary{"ng-click" => "ok()", :type => "button"} OK
                        %button.btn.btn-warning{"ng-click" => "cancel()", :type => "button"} Cancel