%header#navlink
  .container
    .navbar-header
      %a.navbar-brand.hidden-sm{:href => "../"}
        %span.glyphicon.glyphicon-home
        {{title}}
      %div.navbar-toggle.collapsed
        %a{:href => "/admin", :target => "_blank"}
          %span.glyphicon.glyphicon-edit        
    %nav.navbar-collapse.collapse
      %ul.navbar-nav.navbar-right.hidden-sm
        %li
          %a{:href => "/admin", :target => "_blank"}
            Contribute Your Knowledge
            %span.glyphicon.glyphicon-triangle-right
%header#top.navbar.navbar-static-top.bs-docs-nav.sfbgg{:role => "banner"}
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        %label.full-width Select the keywords for commands:
      .col-md-12.col-sm-12.col-xs-12
        %ui-select.full-width{"close-on-select" => "true", :multiple => "", "ng-disable" => "!keywordNames", "ng-model" => "keywords.wanted", "on-remove" => "removeKeyword($item, $model)", "on-select" => "addKeyword($item, $model)", :theme => "bootstrap"}
          %ui-select-match{:placeholder => "Select a keywords..."}
            {{$item.name}}
          %ui-select-choices{:repeat => "keyword in keywordNames | filter:$select.search"}
            {{keyword.name}}
.container
  .center-block{"ng-show" => "loading"}
    %button.btn.btn-default
      %span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
      {{loadingContent}}
  .bs-callout{"ng-repeat" => "keyword in keywords.loaded "}
    %span.remove.pull-right.glyphicon.glyphicon-minus{"aria-hidden" => "true", "ng-click" => "removeKeyword(keyword)"}
    %h4
      {{keyword.name}}
    .row
      .col-md-8.col-sm-12.col-xs-12
        .panel.panel-info
          .panel-heading
            %h3.panel-title Commands
          .panel-body
            %ul
              %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "command in keyword.commands"}
                %span {{command.name}}
                %div{"ng-if" => "myClass=='selected'"}
                  %button.btn.btn-info.btn-xs.right.copy{"clip-copy" => "command.name", "popover" => "Copied!", "popover-placement" => "top"} copy
                  %p.desc
                    %code {{command.note}}

      .col-md-4.col-sm-12.col-xs-12
        .panel.panel-success
          .panel-heading
            %h3.panel-title Configuration file
          .panel-body
            %ul
              %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "file in keyword.files"}
                %div {{file.name}}
                %div{"ng-if" => "myClass=='selected'"}
                  %button.btn.btn-success.btn-xs.right.copy{"clip-copy" => "file.name", :popover => "Copied!", "popover-placement" => "top"} copy
                  %p.desc
                    %code {{file.note}}