%header#top.navbar.navbar-static-top.bs-docs-nav.sfbgg{:role => "banner"}
  .container
    .row
      .col-sm-12
        %label.full-width {{title}}:
      .col-sm-10
        %ui-select.full-width{"close-on-select" => "true", :multiple => "", "ng-disable" => "!keywordNames", "ng-model" => "keywords.wanted", "on-remove" => "removeKeyword($item, $model)", "on-select" => "addKeyword($item, $model)", :theme => "bootstrap"}
          %ui-select-match{:placeholder => "Select a keywords..."}
            {{$item.name}}
          %ui-select-choices{:repeat => "keyword in keywordNames | filter:$select.search"}
            {{keyword.name}}
      .col-sm-2
    %form{:action => "/admin"}
      %button.round.btn-success{:type => "submit "} Contribute your knowledge
.container
  .center-block{"ng-show" => "loading"}
    %button.btn.btn-default
      %span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
      {{loadingContent}}
  .bs-callout{"ng-repeat" => "keyword in keywords.loaded "}
    %span.remove.pull-right.glyphicon.glyphicon-minus{"aria-hidden" => "true", "ng-click" => "removeKeyword(keyword)"}
    %h4
      {{keyword.name}}
    .row
      .col-sm-8
        .panel.panel-info
          .panel-heading
            %h3.panel-title Commands
          .panel-body
            %ul
              %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "command in keyword.commands"}
                %span {{command.name}}
                %div{"ng-if" => "myClass=='selected'"}
                  %br/
                  %p.desc {{command.note}}
                  %button.btn.btn-info.btn-xs.right{"clip-copy" => "command.name", :popover => "Copied!", "popover-placement" => "top"} copy
      .col-sm-4
        .panel.panel-success
          .panel-heading
            %h3.panel-title Configuration file
          .panel-body
            %ul
              %li{"ng-class" => "myClass", "ng-mouseenter" => "myClass='selected'", "ng-mouseleave" => "myClass=''", "ng-repeat" => "file in keyword.files"}
                %div {{file.name}}
                %div{"ng-if" => "myClass=='selected'"}
                  %br/
                  %p.desc {{file.note}}
                  %button.btn.btn-success.btn-xs.right{"clip-copy" => "file.name", :popover => "Copied!", "popover-placement" => "top"} copy